/*
* index首页
* by 张鹏飞
*/

/* 企业搜索 */
.content { 
  background-color: #f3f3f1;
}

.content-search {
  padding-top: 50px;
  color: #fff;
  background: url('../image/bg-company-1.jpg') center center no-repeat;
}

.content-search h1 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.content-search h1 span {
  position: relative;
  padding-left: 1.2rem;
}

.content-search h1 span:after {
  content: 'TM';
  display: block;
  position: absolute;
  top: -.4rem;
  left: 0;
  font-size: 12px;
}

.content-search h2 {
  font-size: .8rem;
}

.content-title-left, .content-title-right {
  position: relative;
}

.content-title-line {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  width: 3rem;
}

.content-title-line img {
  width: .8rem;
}

.content-title-left .content-title-line {
  right: .5rem;
}

.content-title-right .content-title-line {
  left: .5rem;
}

/* 搜索条件 */
.content-search-item {
  position: relative;
  width: 80%;
  margin: 50px auto 15px auto;
  background-color: #fff;
  text-align: left;
  padding-left: 5px;
}

.content-search-item .weui-icon-search {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: .8rem;
}

.content-search-item input {
  width: 80%;
  height: 1.8rem;
  padding: .2rem 0 .2rem 1.2rem;
  font-size: .6rem;
}

.content-search-item span {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  line-height: 1.2rem;
  width: 3rem;
  font-size: .7rem;
  color: #2d73c3;
  text-align: center;
  border-left: 1px solid #4472c4;
}

.content-des {
  font-size: 12px;
  padding-bottom: 15px;
}

.content-tabs {
  font-size: .75rem;
  background-color: #fff;
  text-align: center;
}

.content-tabs a {
  display: block;
  font-size: .7rem;
  color: #000;
  padding: .85rem 0;
}

.content-tabs i {
  display: block;
  width: 1.85rem;
  height: 1.85rem;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}

.content-tabs i img {
  margin-top: .42rem;
  width: 1rem;
  height: 1rem;
}

.content-tabs i.findServiceManageIcon {
  background-color: #0d84ee;
}

.content-tabs i.findServiceRightIcon {
  background-color: #b3c5e5;
}

.content-tabs i.findServiceAuthIcon {
  background-color: #8497b0;
}

.content-tabs i.findServiceProgramIcon {
  background-color: #06c1ae;
}

/* 申报 */
.content-declare {
  position: relative;
  background-color: #fff;
  height: 2rem;
  margin: 5px 0;
  font-size: .75rem;
}

.content-declare-left {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 2rem;
  padding-left: 25px;
}

.content-declare-left:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  height: .7rem;
  width: 3px;
  background-color: #2d73c3;
}

.content-declare-right {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 2rem;
  padding-right: 20px;
}

.content-declare-new {
  width: 3.5rem;
}

.content-declare-line {
  width: 1rem;
}

.content-declare-close {
  width: 3.5rem;
}

.content-declare-active {
  color: #2d73c3;
}

.content-declare-list h2 {
  position: relative;
  font-size: .65rem;
  text-align: left;
  color: #fff;
}

.content-declare-list h2 span {
  position: relative;
  display: inline-block;
  padding: 0 12px 0 5px;
  background: url('../image/icon5.png') right center no-repeat;
}

.content-declare-card h3 {
  font-size: .7rem;
  text-align: left;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.content-declare-card-item img {
  width: 110px;
  height: 55px;
}

.content-declare-time {
  font-size: .7rem;
  color: #888;
  padding: 10px;
}

.content-declare-time .content-declare-timeL {
  text-align: left;
}

.content-declare-time .content-declare-timeR {
  text-align: right;
}

#content-declare-new .weui-cells, #content-declare-close .weui-cells {
  border-top: 1px solid #ddd;
  margin-top: -5px;
}

#content-declare-new .weui-cells .weui-cell__bd, #content-declare-close .weui-cells .weui-cell__bd {
  font-size: .7rem;
  text-align: right;
  color: #999;
}

#content-declare-close {
  display: none;
}

/* 内容详情 */
#detail-content {
  z-index: 501;
}

.footer-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2.2rem;
  z-index: 502;
  background-color: #fff;
}

.footer-btn .customerService {
  font-size: .5rem;
  padding: .2rem .85rem 0 .85rem;
  color: #2d73c3;
  text-align: center;
}

.footer-btn .customerService img {
  width: 20px;
}

.footer-btn .free-btn {
  border-radius: 0;
  color: #fff;
  background-color: #2d73c3;
  border: none;
  width: 100%;
  font-size: .7rem;
  line-height: 2.2rem;
}

.footer-btn .free-btn:active {
  background-color: #0894ec;
}

.footer-btn .mine-btn {
  border-radius: 0;
  color: #fff;
  background-color: #f6a820;
  border: none;
  width: 100%;
  font-size: .7rem;
  margin-top: 0;
  line-height: 2.2rem;
}

.footer-btn .mine-btn:active {
  background-color: #f60;
}

.index-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #f2f2f0;
  overflow: hidden;
}

.index-detail {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #fff;
}
.index-detail .index-detail-section {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.index-detail-item {
  padding: 0.5rem 0.8rem;
  background: url('../image/index.jpg') no-repeat;
  background-size: 100% 100%;
}

.index-detail-item-title {
  padding: .4rem 0;
}

.index-detail-item-title .weui-flex__item {
  font-size: .6rem;
  padding: .2rem 0;
}

.index-detail-item-declare {
  font-size: .6rem;
  padding: .2rem;
  margin-right: 5px;
  border: 1px solid #fff;
}

.index-detail-item p {
  color: #d5d5d5;
  padding-bottom: 0.4rem;
  font-size: .65rem;
}

.index-detail-item .weui-flex-section {
  font-size: .7rem;
  margin-bottom: .4rem;
}

.introduce {
  background-color: #fff;
  padding-bottom: 40px;
}

.introduce-title {
  line-height: 2rem;
  height: 2rem;
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
  color: #3b3b3b;
  font-size: .68rem;
}

.introduce-title span {
  display: inline-block;
  height: 100%;
  border-bottom: 1px solid #2d73c3;
}

.introduce p {
  line-height: 1.8rem;
  font-size: .68rem;
  color: #333;
  text-indent: 2em;
  padding: 0 15px;
}
