<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>找服务-知识产权</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="../jqweui/weui.min.css" />
    <link rel="stylesheet" href="../jqweui/jquery-weui.min.css" />
    <link rel="stylesheet" href="../swiper/swiper.min.css" />
    <link rel="stylesheet" href="../animate/animate.min.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/findService.css" />
  </head>
  <body ontouchstart>
    <div class="page-group">
      <!-- 你的html代码 -->
      <div class="weui-tab">
        <div class="weui-tab__bd">
          <div class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="header">找服务</div>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="./findServiceManage.html">管理咨询</a></div>
                <div class="swiper-slide swiper-active"><a href="./findServiceRight.html">知识产权</a></div>
                <div class="swiper-slide"><a href="./findServiceAuth.html">资质认证</a></div>
                <div class="swiper-slide"><a href="./findServiceProgram.html">项目申报</a></div>
              </div>
            </div>
            <!-- swiper标签切换 -->
            <div class="content">
              <div class="content-declare-list">
                <div class="content-declare-card">
                  <div class="content-declare-card-item weui-flex">
                    <div class="content-declare-card-title">知识<br/>产权</div>
                    <div class="weui-flex__item content-declare-card-num">
                      <div class="weui-flex">
                        <div class="weui-flex__item content-declare-card-numL">经营计划</div>
                        <div class="weui-flex__item content-declare-card-numR"><i class="red">84500</i></div>
                      </div>
                      <div class="content-declare-card-desc">
                        龙华区科技专项资。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-declare-list">
                <div class="content-declare-card">
                  <div class="content-declare-card-item weui-flex">
                    <div class="content-declare-card-title">知识<br/>产权</div>
                    <div class="weui-flex__item content-declare-card-num">
                      <div class="weui-flex">
                        <div class="weui-flex__item content-declare-card-numL">经营计划</div>
                        <div class="weui-flex__item content-declare-card-numR"><i class="red">84500</i></div>
                      </div>
                      <div class="content-declare-card-desc">
                        龙华区科技专项资金，计划审核项目包含国家高新技术企业认定资助类、企业研发投入激励、人才和团队创业扶持等15类小项目。项目一经审核通过后，将最高给予5000万元的资金资助。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-declare-list">
                <div class="content-declare-card">
                  <div class="content-declare-card-item weui-flex">
                    <div class="content-declare-card-title">知识<br/>产权</div>
                    <div class="weui-flex__item content-declare-card-num">
                      <div class="weui-flex">
                        <div class="weui-flex__item content-declare-card-numL">经营计划</div>
                        <div class="weui-flex__item content-declare-card-numR"><i class="red">84500</i></div>
                      </div>
                      <div class="content-declare-card-desc">
                        龙华区科技专项资金，计划审核项目包含国家高新技术企业认定资助类、企业研发投入激励、人才和团队创业扶持等15类小项目。项目一经审核通过后，将最高给予5000万元的资金资助。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-declare-list">
                <div class="content-declare-card">
                  <div class="content-declare-card-item weui-flex">
                    <div class="content-declare-card-title">知识<br/>产权</div>
                    <div class="weui-flex__item content-declare-card-num">
                      <div class="weui-flex">
                        <div class="weui-flex__item content-declare-card-numL">经营计划</div>
                        <div class="weui-flex__item content-declare-card-numR"><i class="red">84500</i></div>
                      </div>
                      <div class="content-declare-card-desc">
                        龙华区科技专项资金，计划审核项目包含国家高新技术企业认定资助类、企业研发投入激励、人才和团队创业扶持等15类小项目。项目一经审核通过后，将最高给予5000万元的资金资助。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-declare-list">
                <div class="content-declare-card">
                  <div class="content-declare-card-item weui-flex">
                    <div class="content-declare-card-title">知识<br/>产权</div>
                    <div class="weui-flex__item content-declare-card-num">
                      <div class="weui-flex">
                        <div class="weui-flex__item content-declare-card-numL">经营计划</div>
                        <div class="weui-flex__item content-declare-card-numR"><i class="red">84500</i></div>
                      </div>
                      <div class="content-declare-card-desc">
                        龙华区科技专项资金，计划审核项目包含国家高新技术企业认定资助类、企业研发投入激励、人才和团队创业扶持等15类小项目。项目一经审核通过后，将最高给予5000万元的资金资助。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-declare-list">
                <div class="content-declare-card">
                  <div class="content-declare-card-item weui-flex">
                    <div class="content-declare-card-title">知识<br/>产权</div>
                    <div class="weui-flex__item content-declare-card-num">
                      <div class="weui-flex">
                        <div class="weui-flex__item content-declare-card-numL">经营计划</div>
                        <div class="weui-flex__item content-declare-card-numR"><i class="red">84500</i></div>
                      </div>
                      <div class="content-declare-card-desc">
                        龙华区科技专项资金，计划审核项目包含国家高新技术企业认定资助类、企业研发投入激励、人才和团队创业扶持等15类小项目。项目一经审核通过后，将最高给予5000万元的资金资助。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="content-declare-list">
                <div class="content-declare-card">
                  <div class="content-declare-card-item weui-flex">
                    <div class="content-declare-card-title">知识<br/>产权</div>
                    <div class="weui-flex__item content-declare-card-num">
                      <div class="weui-flex">
                        <div class="weui-flex__item content-declare-card-numL">经营计划</div>
                        <div class="weui-flex__item content-declare-card-numR"><i class="red">84500</i></div>
                      </div>
                      <div class="content-declare-card-desc">
                        龙华区科技专项资金，计划审核项目包含国家高新技术企业认定资助类、企业研发投入激励、人才和团队创业扶持等15类小项目。项目一经审核通过后，将最高给予5000万元的资金资助。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 底部导航 -->
        <div class="weui-tabbar animated bounceInUp">
          <a href="../index.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
              <img src="../image/nav1.png" alt="" />
            </div>
            <p class="weui-tabbar__label">查资助</p>
          </a>
          <a
            href="javascript:;"
            class="weui-tabbar__item weui-bar__item--on"
          >
            <div class="weui-tabbar__icon">
              <img src="../image/nav4.png" alt="" />
            </div>
            <p class="weui-tabbar__label">找服务</p>
          </a>
          <a href="./me.html" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
              <img src="../image/nav5.png" alt="" />
            </div>
            <p class="weui-tabbar__label">我的</p>
          </a>
        </div>
      </div>
    </div>
    <!-- 内容详情窗口 -->
    <div id="detail-content" class="weui-popup__container">
      <div class="weui-popup__overlay"></div>
      <div class="weui-popup__modal">
        <!-- 内容 -->
        <h2 class="header">
          <a href="javascript:;" class="header-back"><img class='close-popup' src="../image/back.png" alt=""></a>
          知识产权服务详情
        </h2>
        <div class="service-detail">
          <div class="service-detail-map">
            <img src="../image/findServiceRight.png" alt="" width="85%"/>
          </div>
          <div class="weui-cells">
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <p>发明专利</p>
              </div>
              <div class="weui-cell__ft">说明文字</div>
            </div>
          </div>
          <h3><i class="red">¥</i><span class="red">8450.00</span> / 件</h3>
          <p class="include-money">( 含官费：¥1450.00 )</p>
        </div>
        <div class="introduce">
          <div class="introduce-title"><span>服务介绍</span></div>
          <p>所谓产品是指工业上能够制造的各种新制品，包括有一定形状和结构的固体、液体、气体之类的物品。所谓方法是指对原料进行加工，制成各种产品的方法。发明专利并不要求它是经过实践证明可以直接应用于工业生产的技术成果，它可以是一项解决技术问题的方案或是一种构思，具有在工业上应用的可能性，但这也不能将这种技术方案或构思与单纯的提出课题、设想相混同，因单纯的课题、设想不具备工业上应用地可能性。</p>
        </div>
        <a href="./me.html" class="weui-btn weui-btn_primary">我要办理</a>
      </div>
    </div>
    <script src="../jqweui/jquery-2.1.4.js"></script>
    <script src="../jqweui/fastclick.js"></script>
    <script>
      $(function() {
        FastClick.attach(document.body)
      })
    </script>
    <script src="../jqweui/jquery-weui.min.js"></script>
    <script src="../swiper/swiper.jquery.min.js"></script>
    <script>        
      var swiper = new Swiper('.swiper-container', {
        slidesPerView: 4,
        spaceBetween: 0,
        freeMode: true
      })        
    </script>
    <script>
      // 点击查看详情
      $('.content-declare-list').click(function(){
        $('#detail-content').popup();
      })
    </script>
  </body>
</html>
