<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>项目详情</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="../jqweui/weui.min.css" />
    <link rel="stylesheet" href="../jqweui/jquery-weui.min.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/index.css" />
  <body ontouchstart>
    <div class="page-group">
        <!-- 你的html代码 -->
        <!-- 内容 -->
        <div class="index-page">
            <h2 class="header weui-flex">
              <a href="../index.html" class="header-back weui-flex__item"><img src="../image/back.png" alt=""></a>
              <span>项目详情</span>
              <a href="./freeAssessment.html" class="header-collection weui-flex__item"><img src="../image/collection.png" alt=""></a>
            </h2>
            <div class="footer-btn weui-flex">
                <a href="javascript:;" class="customerService">
                  <img src="../image/customerService.png" alt="客服">
                  <p>客服</p>
                </a>
                <a href="./freeAssessment.html" class="weui-btn weui-btn_primary weui-flex__item free-btn">我要办理</a>
                <a href="./freeAssessment.html" class="weui-btn weui-btn_primary weui-flex__item mine-btn">我要申报</a>
            </div>
            <div class="index-detail">
              <div class="index-detail-section">
                <div class="index-detail-item">
                    <div class="weui-flex index-detail-item-title">
                      <div class="index-detail-item-declare">开放申报中</div>
                      <div class="weui-flex__item">龙岗区支持工业和服务业发展专项</div>
                    </div>
                    <p>
                      龙岗区支持工业和服务业发展专项是为打造东部产业集聚中心，实施高端引领、创新驱动战略，吸引重大产业项目落户龙岗，充分发挥区经济与科技发展专项资金的产业导向和激励作用，加快推动全区经济发展方式转变和产业结构优化升级而设立的。申报该项目一经审核通过，最高可获得5000万元的资助。
                    </p>
                    <div class="weui-flex weui-flex-section">
                      <div>截止日期：</div>
                      <div class="weui-flex__item">2018-12-31 截止</div>
                    </div>
                    <div class="weui-flex weui-flex-section">
                      <div>项目级别：</div>
                      <div class="weui-flex__item">区级</div>
                    </div>
                    <div class="weui-flex weui-flex-section">
                      <div>组织部门：</div>
                      <div class="weui-flex__item">龙岗区经济促进局</div>
                    </div>
                    <div class="weui-flex weui-flex-section">
                      <div>资助类型：</div>
                      <div class="weui-flex__item">企业管理提升</div>
                    </div>
                    <div class="weui-flex weui-flex-section">
                      <div>资助方式：</div>
                      <div class="weui-flex__item">资金</div>
                    </div>
                    <div class="weui-flex weui-flex-section">
                      <div>资助金额：</div>
                      <div class="weui-flex__item">5000万元</div>
                    </div>
                </div>
                <div class="introduce">
                  <div class="introduce-title"><span>服务介绍</span></div>
                  <p>所谓产品是指工业上能够制造的各种新制品，包括有一定形状和结构的固体、液体、气体之类的物品。所谓方法是指对原料进行加工，制成各种产品的方法。发明专利并不要求它是经过实践证明可以直接应用于工业生产的技术成果，它可以是一项解决技术问题的方案或是一种构思，具有在工业上应用的可能性，但这也不能将这种技术方案或构思与单纯的提出课题、设想相混同，因单纯的课题、设想不具备工业上应用地可能性。</p>
                </div>
              </div>
            </div>
          </div>       
    </div>
    <script src="../jqweui/jquery-2.1.4.js"></script>
    <script src="../jqweui/fastclick.js"></script>
    <script>
      $(function() {
        FastClick.attach(document.body)
      })
    </script>
    <script src="../jqweui/jquery-weui.min.js"></script>
  </body>
</html>
