<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>查咨询</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="stylesheet" href="../jqweui/weui.min.css" />
    <link rel="stylesheet" href="../jqweui/jquery-weui.min.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/searchDetail.css" />
  <body ontouchstart>
    <div class="page-group">
        <!-- 你的html代码 -->
        <div class="header">
            <a href="../index.html" class="header-back"><img src="../image/back.png" alt=""></a>
            敏问·政府资助大数据
        </div>
        <div class="content">
            <h2>深圳市XXXXXXX有限公司</h2>
            <div class="updateTime"><img src="../image/refresh.png" alt=""/> 更新时间 <span>2018-12-08</span></div>
            <div class="weui-flex legalPeople">
                <div class="weui-flex__item">
                <p>胡XXXX</p>
                <p class="gray">法定代表人</p>
                </div>
                <div class="weui-flex__item center">
                <p>16000.00万元</p>
                <p class="gray">注册资本</p>
                </div>
                <div class="weui-flex__item">
                <p>2018-12-08</p>
                <p class="gray">成立日期</p>
                </div>
            </div>
        </div>
        <!-- 历年资助 -->
        <div class="support-list">
            <div class="support-item weui-flex">
                <div class="weui-flex__item tal support-title"><span>历年资助</span></div>
                <div class="weui-flex__item tar">资助总额：<span class="red">XXXX.XX</span>万</div>
            </div>
            <div class="support-item weui-flex">
                <div class="support-item-company nowrap">1.项目名称</div>
                <div class="weui-flex__item tar">时间/批次</div>
                <div class="red weui-flex__item tar">xxxx</div>
            </div>
            <div class="support-item weui-flex">
                <div class="support-item-company nowrap">2.项目名称aaasd</div>
                <div class="weui-flex__item tar">时间/批次</div>
                <div class="red weui-flex__item tar">xxxx</div>
            </div>
            <div class="support-item weui-flex">
                <div class="support-item-company nowrap">3.项目名称是对方是否是</div>
                <div class="weui-flex__item tar">时间/批次</div>
                <div class="red weui-flex__item tar">xxxx</div>
            </div>
            <div class="support-item weui-flex support-item-more">
                <div class="weui-flex__item">显示更多...</div>
            </div>
        </div>
        <!-- 项目推荐 -->
        <div class="support-list">
            <div class="support-item support-title"><span>项目推荐</span></div>
            <div class="weui-tab">
                <div class="weui-navbar">
                    <a class="weui-navbar__item weui-bar__item--on" href="#tab1">资质类</a>
                    <a class="weui-navbar__item" href="#tab2">资助类</a>
                    <a class="weui-navbar__item" href="#tab3">补贴类</a>
                </div>
                <div class="weui-tab__bd">
                    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                        <div class="support-item weui-flex" dataId='1'>
                            <!-- <div class="support-item-company nowrap">1.项目名称</div>
                            <div class="weui-flex__item tar">></div> -->
                            <div class="weui-cells weui-flex__item">
                                <a class="weui-cell weui-cell_access" href="javascript:;">
                                    <div class="weui-cell__bd">
                                        <p>1.项目名称</p>
                                    </div>
                                    <div class="weui-cell__ft">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="support-item weui-flex">
                            <div class="weui-cells weui-flex__item">
                                <a class="weui-cell weui-cell_access" href="javascript:;">
                                    <div class="weui-cell__bd">
                                        <p>2.项目名称</p>
                                    </div>
                                    <div class="weui-cell__ft">
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="support-item weui-flex support-item-more">
                            <div class="weui-flex__item">显示更多...</div>
                        </div>
                    </div>
                    <div id="tab2" class="weui-tab__bd-item">
                        <div class="support-item weui-flex">
                            <div class="support-item-company nowrap">2.项目名称</div>
                            <div class="red weui-flex__item tar">xxxx</div>
                        </div>
                        <div class="support-item weui-flex">
                            <div class="support-item-company nowrap">2.项目名称</div>
                            <div class="red weui-flex__item tar">xxxx</div>
                        </div>
                        <div class="support-item weui-flex support-item-more">
                            <div class="weui-flex__item">显示更多...</div>
                        </div>
                    </div>
                    <div id="tab3" class="weui-tab__bd-item">
                        <div class="support-item weui-flex">
                            <div class="support-item-company nowrap">3.项目名称</div>
                            <div class="red weui-flex__item tar">xxxx</div>
                        </div>
                        <div class="support-item weui-flex">
                            <div class="support-item-company nowrap">2.项目名称</div>
                            <div class="red weui-flex__item tar">xxxx</div>
                        </div>
                        <div class="support-item weui-flex support-item-more">
                            <div class="weui-flex__item">显示更多...</div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
    <script src="../jqweui/jquery-2.1.4.js"></script>
    <script src="../jqweui/fastclick.js"></script>
    <script>
      $(function() {
        FastClick.attach(document.body)
      })
    </script>
    <script src="../jqweui/jquery-weui.min.js"></script>
    <script>
        $('.updateTime').click(function(){
            // var time = new Date()
            // var year = time.getFullYear()
            // var month = time.getMonth() + 1
            // var day = time.getDate()
            // month = month >= 10 ? month : '0' + month
            // day = day >= 10 ? day : '0' + day
            // var str = year + '-' + month + '-' + day
            // $(this).find('span').html(str)
        })
    </script>
  </body>
</html>
